*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center;
    /* font-family: 'Silkscreen', cursive; */
}

h1{
    font-size: 72px;
}

h5{
    font-size: 48px;
}

button{
    background-color: white;
    padding: 1rem;
    font-size: 48px;
    border-radius: 20px;
    width: 300px;
    margin: 1rem;
    margin-bottom: 3rem;

}

#container {
    display: flex;
    flex-wrap: wrap;
    max-width: 1142px;
    margin: 3rem auto;
    margin-top: 0;
    justify-content: space-around;
 
    color: white;
}

.num-cell {
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 72px;

   width: calc(95%/3);
}